/* Variables */

:root {
  --basic-black: #000000;
  --basic-dark: #aba9a7;
  --basic-extra-dark: #242424;
  --basic-extra-light: #f8f5f2;
  --basic-neutral: #e5e5e5;
  --basic-white: #ffffff;
  --special: #663d15;
}

/* Global */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  color: var(--basic-white);
  text-transform: uppercase;

  background-color: var(--basic-black);
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main navigation */

.main-navigation {
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-white);

  background-color: transparent;
}

.main-navigation-wrapper {
  background-color: var(--basic-black);
}

.site-navigation {
  list-style: none;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-black);
}

/* User navigation */

.site-navigation a,
.user-navigation a {
  color: var(--basic-white);
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: var(--basic-extra-dark);
}

/* Features */

.features-list {
  list-style: none;
}

.feature-item {
  text-align: center;
}

.feature-item h3 {
  font-size: 30px;
  line-height: 42px;
}

/* Index columns */

.index-columns {
  color: var(--basic-black);

  background-color: var(--basic-extra-light);
  background-image: url("../img/pattern-light.jpg");
  background-repeat: no-repeat, repeat;
  background-position: center, 0 0;
}

.index-columns h2 {
  font-size: 30px;
  line-height: 42px;
}

/* News */

.news-list {
  list-style: none;
}

/* Gallery */

.gallery-content {
  background-color: var(--basic-dark);
  border: 7px solid var(--basic-white);
}

/* Button */

.button {
  font: inherit;
  vertical-align: middle;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;

  background-color: var(--basic-black);
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: var(--special);
}

.button.disabled,
.button:disabled {
  background-color: var(--basic-black);
  cursor: default;
  opacity: 0.5;
}

/* Contacts */

.contacts-phone {
  color: inherit;
}

/* Appointment */

.appointment-item input {
  font: inherit;

  background-color: transparent;
  border: 2px solid var(--basic-black);
}

.appointment-item input:focus {
  border-color: var(--special);
}

/* Main footer */

.main-footer {
  color: var(--basic-white);

  background-color: var(--basic-extra-dark);
  background-image: url("../img/pattern-dark.jpg");
  background-repeat: repeat;
  background-position: 0 0;
}

.footer-contacts a {
  color: var(--basic-white);
  text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.footer-social h2 {
  font-size: 14px;
}

/* Social button */

.social-button {
  color: inherit;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-white);
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: var(--basic-black);

  background-color: var(--basic-white);
}

/* Modal */

.modal {
  color: var(--basic-black);

  background-color: var(--basic-extra-light);
  background-image: url("../img/pattern-light.jpg");
  background-repeat: repeat;
  background-position: 0 0;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-login h2 {
  font-size: 30px;
  line-height: 42px;
}

/* Login form */

.login-form input[type="email"],
.login-form input[type="password"] {
  font: inherit;
  color: var(--basic-black);
  text-transform: uppercase;

  background-color: var(--basic-extra-light);
  border: 2px solid var(--basic-black);
}

.login-form input:focus {
  border-color: var(--special);
}

.login-icon-user {
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 270px center;
}

.login-icon-password {
  background-image: url("../img/lock.svg");
  background-repeat: no-repeat;
  background-position: 270px center;
}

/* Restore */

.restore {
  color: var(--basic-black);
  text-decoration: underline;
}

.restore:hover,
.restore:focus {
  text-decoration: none;
}
